<ul class="nav nav-tabs navbar-dark bg-primary">
  <%= link_to "CEA", ledgers_path, class: "navbar-brand", id: "logo" %>
  <li class="nav-item">
    <a class="nav-link" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
	</ul>
